*{
   box-shadow: border-box; 
   padding: 0;
   margin: 0;
}

body {
    background-color:bisque;
    color:black;
    font-family:Arial, Helvetica, sans-serif; 

}

  
  .error-message {
    margin-top: -1em;
    margin-bottom: 1em;
    color: #C62828;
  }

.error{
    border-color: red;
    color: red
    margins: -1em 0 1.5em;
}

.header{
    background-color: rgb(233, 195, 146);
    text-align: center;
    padding: 20px;
}

.topnav{
    overflow: hidden;
    background-color: rgb(130, 84, 24);
}

<<<<<<< Updated upstream
.topnav a {
=======
[type="submit"]{
    background: rgb(130, 84, 24)
    color:rgb(2, 1, 0);
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    border: 0;
    padding: .5em;
    cursor: pointer;
}

.topnav a{
>>>>>>> Stashed changes
    float: right;
    display:block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: darkgoldenrod;
    color:black;
}

<<<<<<< Updated upstream
.footer {
    background-color:rgb(233, 195, 146);
=======
.footer{
    background-color: #974200;
>>>>>>> Stashed changes
    text-align: center;
    padding: 5px;
}

img{
    max-width: 100%;
}
